@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");
/* FOOTER */

footer {
    width: 100%;
    min-height: 170px;
    background: #464547;
    padding: 20px 0 20px 10%;
  }
  footer div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  footer div img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  footer div span {
      width: 92px;
      height: 16px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff;
    }
  footer p,
  address a {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
  .copyright {
    margin-top: 5px;
  }