@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");
/* HEADER */ 

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/img/background-one.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-block {
    position: absolute;
    max-width: 426px;
    min-height: 292px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;
  }
  .hero-block img {
    width: 63px;
    height: 63px;
  }
  .hero-block h1 {
    color: #fff;
    max-width: 386px;
    min-height: 118px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 40px 0px;
  }
  .hero-block h2 {
    max-width: 426px;
    min-height: 56px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 42px;
  }
  